@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
@* Portions of this file were generated using ChatGPT. I adapted the code for my project. *@

<h1>About Me</h1>

<p>This page helps classmates get to know me for team formation.</p>

<h2>Basics</h2>
<ul>
    <li><strong>Name:</strong> <-- Sidhart Tandel --></li>
    <li><strong>Section:</strong> <-- CIS 484-0001 --></li>
    <li><strong>Availability for group meetings:</strong> <-- m 1:30pm+ w 1:30pm+ f 1:30pm+ s 10:00am+ --></li>
</ul>

<h2>What I Bring</h2>
<ul>
    <li><strong>Skills:</strong> <-- coding, design, project management, communication, etc. --></li>
    <li><strong>Workstyle:</strong> <--  communicator, planner --></li>
</ul>

<h2>Goals & Fun</h2>
<ul>
    <li><strong>One key takeaway I want from CIS 484:</strong> <-- project management qualities I can carry forever --></li>
    <li><strong>Fun fact about me:</strong> <-- I've had 24 stitches in my chin' --></li>
</ul>